.jumbotron {
  color: white;
  background-image: url(http://finnperkins.lab.uic.edu/images/software.jpg);
  align-content:center;
}

.suggestedtrack{
  display: none;
  margin-top: 20px;
}

.result {
  display: none;
}
