.jumbotron {
  color: white;
  background-image: url(http://finnperkins.lab.uic.edu/images/software.jpg);
  align-content:center;
}

.userInfo {
  margin-bottom: 20px;
}

/* .suggestedtrack{
  display: none;
} */

.result {
  display: none;
  margin-bottom: 50px
}

.btn {
  margin-bottom: 20px;
}

.questions {
  background-color: #b1d7ed;
}


 .tracks {
   background-color: #bababa;
   font-size: 20px;
 }

 .tracks #name {
   font-size: 30px;
   font-weight: bold;
   text-decoration: underline;
 }

.csharplogo, .rubylogo, .csslogo {
  display: block;
  margin: 40px;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
}
